$main-color: #822D6E;
	$main-color-dark: #682458;
	
$main-font-color: #49193E;
	$bright-font-color: #CCC;
	$brightest-font-color: #FFF;
	$darker-font-color: #822D6E;
	$dropdown-selected-font-color: #3d3d3d;

$selected-color: #993578;

$container-color: rgba(255, 255, 255, 0.3);

$background-color: #822D6E;

$flat-color: #FFF;

$bright-hover-background-color: #DDD;

$tooltip-color: #822D6E;
	$tooltip-font-color: #FFF;

$form-font-color: #2d2d2d;