div.dropdown{
    width         : 100%;
    height        : 30px;
    box-sizing    : border-box;
    color         : $dropdown-selected-font-color;
    font-weight   : bold;
    background    : $flat-color;
    // background: $bright-hover-background-color;
    position      : relative;
    border-radius : 5px;
    // border: 1px solid $main-color;
    cursor        : pointer;
    z-index       : 200;

    &.expanded{
        border-radius : 5px 5px 0px 0px;

        .toggle{
            border-radius : 0 5px 0px 0px;
        }
    }

    .toggle{
        width         : 30px;
        height        : 100%;
        display       : block;
        position      : absolute;
        top           : 0;
        right         : 0;
        border-radius : 0 5px 5px 0;
        z-index       : 10;
        transition    : all 0.3s linear;
        background    : $main-color;

        &:hover{
            background : $main-color-dark;

            &:after{
                border-top-color : $flat-color;
            }
        }

        &:after{
            content      : "";
            width        : 0;
            height       : 0;
            border-style : solid;
            border-width : 7px 7px 0 7px;
            border-color : $bright-font-color transparent transparent transparent;
            position     : absolute;
            top          : 13px;
            left         : 8px;
        }
    }

    .dropdown-container{
        width         : 100%;
        display       : none;
        background    : $main-color;
        position      : absolute;
        left          : 0;
        top           : 100%;
        border-radius : 0 0 5px 5px;
        overflow      : hidden;

        a{
            width      : 100%;
            height     : 30px;
            padding    : 6px 0 0 16px;
            font-size  : 15px;
            display    : block;
            box-sizing : border-box;
            color      : $bright-font-color;
            transition : all 0.3s linear;

            &:hover{
                background : $main-color-dark;
                color      : $brightest-font-color;
            }
        }
    }

    .selected-item{
        width      : calc(100% - 30px);
        height     : 100%;
        padding    : 7px 0 0 9px;
        color      : $dropdown-selected-font-color;
        font-size  : 15px;
        display    : block;
        box-sizing : border-box;
    }
}