*{
	font-family: arial;
	outline: none;
}

*::selection{
	background: $selected-color;
	color: #FFF;
}

html, body{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.right{
	float: right;
}

.left{
	float: left;
}

.transition-300{
	transition: all 0.3s linear;
}

hr.broad{
	width: 100%;
	height: 10px;
	margin: 0;
	background: $main-color;
	border: none;
}

.double-width{
	width: 200%;
}

.templates{
	display: none;
}

.width-50{width: 50% !important;}
.width-100{width: 50% !important;}
.width-33{width: 33.33333% !important;}
.width-20{width: 20% !important;}

.clearer{
	clear: both;
	float: none;
}