a[data-tooltip]{
    position : relative;

    &:hover{
        &:after{
            display : block;
        }

        &:before{
            display : block;
        }
    }

    &:before{
        position         : absolute;
        left             : 20px;
        top              : calc(100% + 7px);
        background-color : $tooltip-color;
        color            : $tooltip-font-color;
        height           : 30px;
        line-height      : 30px;
        border-radius    : 5px;
        padding          : 0 10px;
        content          : attr(data-tooltip);
        white-space      : nowrap;
        font-size        : 15px;
        font-weight      : normal;
        display          : none;
        box-shadow       : 7px 7px 17px -5px rgba(0, 0, 0, 0.75);
    }

    &:after{
        position      : absolute;
        left          : 30px;
        top           : calc(100% - 7px);
        border-top    : 7px solid transparent;
        border-left   : 7px solid transparent;
        border-right  : 7px solid transparent;
        border-bottom : 7px solid $tooltip-color;
        content       : "";
        display       : none;
    }
}