.webapp{
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	.top-bar{
		width: 100%;
		height: $top-bar-height;
		float: right;
		box-sizing: border-box;
		background: $flat-color;
		color: $main-color;
		box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.75);
		position: relative;
		z-index: 200;

		.top-dropdown-container{
			width: 250px;
			height: 100%;
			padding: 10px;
			background: $flat-color;
			box-sizing: border-box;
			cursor: pointer;
			float: left;
			border-right: 10px solid $main-color;

			&:hover{
				background: $bright-hover-background-color;
			}
		}

		.top-bar-container{
			width: auto;
			height: 100%;
			padding: 10px;
			background: $flat-color;
			box-sizing: border-box;

			&:hover{
				background: $bright-hover-background-color;
			}
		}

		.username{
			margin-top: 5px;
			display: block;
			font-weight: bold;
			color: $main-color;
		}

		.add{
			font-size: 30px;
			padding: 0;
			line-height: 50px;
		}

		.logout{
			padding: 0 10px 0 10px;
			line-height: 50px;
			font-size: 15px;
		}

		.top-bar-item{
			min-width: 50px;
			height: 100%;
			border-radius: 0;
			text-align: center;
		}
	}

	.side-bar{
		width: $side-bar-width;
		height: calc(100% - 50px);
		box-sizing: border-box;
		background: $flat-color;
		box-shadow: 7px 0px 17px -5px rgba(0,0,0,0.75);
		position: relative;
		z-index: 100;

		.overview-item{
			width: 100%;
			height: 50px;
			padding: 10px;
			background: $flat-color;
			box-sizing: border-box;
			cursor: pointer;

			&:hover{
				background: $bright-hover-background-color;
			}

			.title{
				width: 100%;
				display: block;
				font-size: 13px;
				font-weight: bold;
				color: $darker-font-color;
			}

			.date{
				width: 100%;
				margin-top: 5px;
				display: block;
				font-size: 13px;
				text-align: right;
				color: $darker-font-color;
			}

			hr{
				width: 80%;
				margin: 5px auto 0 auto;
				display: block;
				position: relative;
				bottom: 0;
				border: none;
				border-top: 1px solid $bright-hover-background-color;
			}
		}
	}

	.details-pane{
		width: calc(100% - 200px);
		height: calc(100% - 50px);
		padding: 20px;
		box-sizing: border-box;
		background: #CCC;
	}

	.button{
		width: auto;
		height: 30px;
		padding: 5px 8px;
		display: block;
		border-radius: 5px;
		box-sizing: border-box;
		background: $main-color;
		color: $bright-font-color;
		font-weight: bold;
		transition: background 0.3s, color 0.3s;

		&.bright{
			background: #FFF;
			color: $main-color;

			&:hover{
				background: $bright-hover-background-color;
			}
		}

		&:hover{
			background: $main-color-dark;
		}
	}

	.inner{
		width: 100%;
		height: 100%;
		padding: 20px;
		display: block;
		background: $flat-color;
		box-sizing: border-box;
		box-shadow: 0px 0px 40px -3px rgba(0,0,0,0.75);
		overflow-y: auto;
		border-radius: 10px;

		h1{
			margin: 0;
			font-size: 30px;
			font-weight: bold;
			color: $main-color;
		}
	}
}

.overlay{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.8);
	display: none;
	cursor: pointer;
	z-index: 9999;

	.dialog{
		width: 600px;
		height: auto;
		margin: 300px auto 0 auto;
		padding: 10px;
		display: block;
		background: $main-color;
		border-radius: 10px;
	}

	p{
		display: block;
		margin: 20px 0 20px 0;
		color: $bright-font-color;
		font-size: 18px;
	}

	a.button{
		width: calc(50% - 5px);
		height: 40px;
		padding: 0;
		display: inline-block;
		float: left;
		background: $bright-hover-background-color;
		color: $main-color;
		font-size: 15px;
		box-sizing: border-box;
		line-height: 40px;
		text-align: center;

		&.ok{
			margin-right: 10px;
		}

		&:hover{
			background: $flat-color;
			color: $main-color-dark;
		}
	}
}

form{
	input[type="text"], input[type="password"]{
		width: 100%;
		height: 40px;
		margin-top: 20px;
		font-size: 18px;
		color: $form-font-color;
		padding-left: 8px;
		border: 1px solid $bright-hover-background-color;
		box-sizing: border-box;
		border-radius: 10px;
		background: $bright-hover-background-color;
		transition: all 0.3s linear;

		&:focus{
			border: 1px solid $main-color;
			background: $flat-color;
		}
	}

	input[type="submit"], input[type="button"]{
		width: auto;
		height: 40px;
		margin-top: 20px;
		margin-right: 5px;
		padding: 0 15px 0 15px;
		font-size: 15px;
		color: $bright-font-color;
		background: $main-color;
		box-sizing: border-box;
		border-radius: 10px;
		border: none;
		font-weight: bold;
		transition: all 0.3s linear;

		&:focus{
			background: $main-color-dark;
			color: $flat-color;
		}

		&:hover{
			background: $main-color-dark;
			color: $flat-color;
		}
	}

	textarea{
		width: 100%;
		height: 150px;
		max-width: 100%;
		margin-top: 20px;
		font-size: 18px;
		color: $form-font-color;
		padding: 8px;
		border: 1px solid $bright-hover-background-color;
		box-sizing: border-box;
		border-radius: 10px;
		background: $bright-hover-background-color;
		transition: all 0.3s linear;

		&:focus{
			border: 1px solid $main-color;
			background: $flat-color;
		}
	}
}