/*
Error: Undefined variable: "$selected-color".
        on line 7 of C:\Users\Artur\Dropbox\Silo\OSP\scss\imports\global.scss

2: 	font-family: arial;
3: 	outline: none;
4: }
5: 
6: *::selection{
7: 	background: $selected-color;
8: 	color: #FFF;
9: }
10: 
11: html, body{
12: 	width: 100%;

Backtrace:
C:\Users\Artur\Dropbox\Silo\OSP\scss\imports\global.scss:7
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/PROGRAMM DATEN/Software/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/PROGRAMM DATEN/Software/Koala/bin/sass:18:in `load'
D:/PROGRAMM DATEN/Software/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$selected-color\".\A         on line 7 of C:\Users\Artur\Dropbox\Silo\OSP\scss\imports\global.scss\A \A 2: 	font-family: arial;\A 3: 	outline: none;\A 4: }\A 5: \A 6: *::selection{\A 7: 	background: $selected-color;\A 8: 	color: #FFF;\A 9: }\A 10: \A 11: html, body{\A 12: 	width: 100%;"; }
