* {
  font-family: "street-fighter"; }

*::selection {
  background: #e542a3;
  color: #FFF; }

h1 {
  text-align: center; }

p {
  font-family: "black-tiger";
  text-shadow: 1px 1px 1px black;
  color: floralwhite; }

.Gradient {
  position: relative;
  overflow: hidden;
  height: 28px; }

.Gradient span {
  text-align: center; }

.Gradient,
.Gradient .G1,
.Gradient .G2,
.Gradient .G3,
.Gradient .G4,
.Gradient .G5 {
  height: 100px;
  position: absolute;
  margin: 0;
  top: 0px;
  left: 0px;
  float: left;
  width: 100%;
  color: #fff;
  font-family: century gothic,helvetica,arial;
  font-family: "street-fighter";
  font-size: 36px;
  font-weight: normal;
  overflow: hidden; }

.Gradient {
  position: fixed;
  background: black;
  width: 100%;
  float: left; }
  .Gradient .G5 {
    height: 15px;
    color: #ee1111;
    z-index: 6; }
  .Gradient .G4 {
    height: 20px;
    color: #ff6611;
    z-index: 5; }
  .Gradient .G3 {
    height: 27px;
    color: #ff8811;
    z-index: 4; }
  .Gradient .G2 {
    height: 34px;
    color: #ffcc55;
    z-index: 3; }
  .Gradient .G1 {
    height: 48px;
    color: #ffee77;
    z-index: 2; }

html, body {
  color: #efefef;
  width: 100%;
  height: 100%;
  float: left;
  background: black; }
  html .content-wrap.profile, body .content-wrap.profile {
    height: 300px;
    width: 100%;
    float: left;
    margin-bottom: 200px;
    margin-top: 200px; }
    html .content-wrap.profile .author, body .content-wrap.profile .author {
      float: left;
      width: 100%; }
      html .content-wrap.profile .author .name p, body .content-wrap.profile .author .name p {
        font-size: 18px;
        border-bottom: floralwhite 1px solid; }
      html .content-wrap.profile .author .image, body .content-wrap.profile .author .image {
        float: left;
        width: auto;
        height: 100%;
        margin-right: 25px;
        overflow: hidden;
        border-radius: 5px; }
        html .content-wrap.profile .author .image img, body .content-wrap.profile .author .image img {
          height: 100%;
          float: left;
          width: auto; }
      html .content-wrap.profile .author .description, body .content-wrap.profile .author .description {
        float: left;
        width: calc(789px - 325px); }
  html .content-wrap.headline, body .content-wrap.headline {
    z-index: 1000; }
  html .content-wrap, body .content-wrap {
    float: left;
    z-index: 10;
    position: relative; }
    html .content-wrap .center-wrap, body .content-wrap .center-wrap {
      margin: 0 auto;
      width: 798px; }
    html .content-wrap .center-wrap.small, body .content-wrap .center-wrap.small {
      width: 250px; }
    html .content-wrap #bgmusic, body .content-wrap #bgmusic {
      floaT: left;
      width: 100%;
      margin-top: 25px; }
  html .content-wrap.background, body .content-wrap.background {
    floaT: left;
    width: 100%;
    margin-top: 100px;
    position: fixed;
    z-index: 1; }
    html .content-wrap.background img, body .content-wrap.background img {
      float: left;
      width: 100%; }

.right {
  float: right; }

.left {
  float: left; }

.login-area {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(../img/bg.jpg);
  background-size: 100%; }
  .login-area .login {
    width: 400px;
    margin: 300px auto 0 auto;
    padding: 20px;
    display: block;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3); }
    .login-area .login form#login label {
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      color: #49193E; }
    .login-area .login form#login hr {
      margin: 10px 0 10px 0;
      border-color: #49193E; }
    .login-area .login form#login input {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      padding: 10px;
      border: none;
      box-sizing: border-box;
      border-radius: 10px;
      color: #2d2d2d;
      outline: none;
      background: #CCC; }
      .login-area .login form#login input:focus {
        background: #FFF; }
      .login-area .login form#login input[type='submit'] {
        margin: 0;
        background: #822D6E;
        color: #CCC;
        font-weight: bold; }
        .login-area .login form#login input[type='submit']:hover {
          border-color: #682458;
          background: #682458; }
        .login-area .login form#login input[type='submit']:focus {
          color: #FFF; }

@font-face {
  font-family: 'street-fighter';
  src: url("../css/fonts/streetfighter.ttf") format("truetype"); }
@font-face {
  font-family: 'black-tiger';
  src: url("../css/fonts/black_tiger.ttf") format("truetype"); }

/*# sourceMappingURL=main.css.map */
