Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^login ./index.php?route=login
RewriteRule ^login/ ./index.php?route=login

RewriteRule ^events ./index.php?route=events
RewriteRule ^events/ ./index.php?route=events

RewriteRule ^api/(.*)$ ./index.php/api/$1?route=api
RewriteRule ^api/(.*)$/ ./index.php/api/$1?route=api
