<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Lehrmittelverwaltung</title>
        <meta name="description" content="Lerhmittelverwaltung">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/jquery.datetimepicker.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/jquery.js"></script>
    </head>
    <body>
        <div class="overlay" stlye="color: #"></div>
        <div class="webapp">
            <div class="top-bar">
                <div class="top-dropdown-container transition-300 double-width">
                    <select hidden="hidden">
                        <option>Eigene Veranstalt.</option>
                        <option>Veranstalt. Suchen</option>
                    </select>
                </div>
                <a href="#" class="add button bright left top-bar-item" data-tooltip="Veranstaltung hinzufügen">+</a>
                <a href="#" class="button bright logout right top-bar-item">Ausloggen</a>
                <!--span class="username">aerotschkin</span-->
            </div>

            <div class="side-bar left">
                <hr class="broad" />
            </div>

            <div class="details-pane left">

            </div>
        </div>

        <div class="reservation-overlay">
            <div class="reservation-edit-container">
                <h1>Reservierung</h1>

                <form class="reservation-form">
                    <label>Suchen</label>
                    <input type="text" name="name" placeholder="Name der Veranstaltung" class="width-50">
                    <select hidden="hidden" name="category"></select>

                    <div class="clearer"></div>
                    <input type="submit" value="Speichern">
                </form>
            </div>
        </div>

        <script src="../js/plugins/jquery.datetimepicker.full.js"></script>
        <script src="../js/FakeQueries.js"></script>
        <script src="../js/Event.js"></script>
        <script src="../js/templates.js"></script>
        <script src="../js/layout.js"></script>
        <script src="../js/GuiManager.js"></script>

        <script>
        </script>
    </body>
</html>