<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Lerhmittelverwaltung</title>
        <meta name="description" content="Lerhmittelverwaltung">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/jquery.js"></script>
    </head>
    <body>
        <div class="login-area">
            <div class="login">
                <form id="login">
                    <label>GSO Lehrmittelverwaltung<span class="right">v1.04</span></label>
                    <hr />
                    <input type="text" placeholder="Benutzername" />
                    <input type="password" placeholder="Kennwort" />
                    <input type="submit" class="button" value="Anmelden" />
                </form>
            </div>
        </div>
    </body>
</html>