* {
  font-family: "street-fighter";
}

*::selection {
  background: $selected-color;
  color: #FFF;
}
h1{
  text-align: center;
}
p{
  font-family: "black-tiger";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  color: floralwhite;
}
.Gradient{
  position: relative;
  overflow: hidden;
  height: 28px;
}
.Gradient span{
  text-align: center;

}
.Gradient,
.Gradient .G1,
.Gradient .G2,
.Gradient .G3,
.Gradient .G4,
.Gradient .G5{
  height: 100px;
  position: absolute;
  margin: 0;
  top: 0px;
  left: 0px;
  float: left;
  width: 100%;
  color: #fff;
  font-family: century gothic,helvetica,arial;
  font-family: "street-fighter";
  font-size: 36px;
  font-weight: normal;
  overflow: hidden;
}
.Gradient{
  position: fixed;
  background: black;
  width: 100%;
  float: left;
  .G5{
    height: 15px;
    color: #ee1111;
    z-index: 6;
  }
  .G4{
    height: 20px;
    color: #ff6611;
    z-index: 5;
  }
  .G3{
    height: 27px;
    color: #ff8811;
    z-index: 4;
  }
  .G2{
    height: 34px;
    color: #ffcc55;
    z-index: 3;
  }
  .G1{
    height: 48px;
    color: #ffee77;
    z-index: 2;
  }
}

html, body {
  color: #efefef;
  width: 100%;
  height: 100%;
  float: left;
  background: black;

  .content-wrap.profile{
    height: 300px;
    width: 100%;
    float: left;
    margin-bottom: 200px;
    margin-top: 200px;
    .author{
      float: left;
      width: 100%;
      .name p {
        font-size: 18px;
        border-bottom: floralwhite 1px solid;
      }
      .image{
        float: left;
        width: auto;
        height: 100%;
        margin-right: 25px;
        overflow: hidden;
        border-radius: 5px;
        img{
          height: 100%;
          float: left;
          width: auto;
        }
      }
      .description{
        float: left;
        width: calc(789px - 325px);
      }
    }
  }
  .content-wrap.headline{
    z-index: 1000;
  }

  .content-wrap{
    float: left;
    z-index: 10;

    position: relative;
    .center-wrap{
      margin: 0 auto;
      width: 798px;
    }
    .center-wrap.small{
      width: 250px;
    }
    #bgmusic{
      floaT: left;
      width: 100%;
      margin-top: 25px;
    }
  }

  .content-wrap.background{
    floaT: left;
    width: 100%;
    margin-top: 100px;
    position: fixed;
    z-index: 1;
    img{
      float: left;
      width: 100%;
    }
  }
}
.right {
  float: right;
}

.left {
  float: left;
}
